acme=={0}'.format(version)
ConfigArgParse>=0.10.0
# python2.6 support
upstream #17
    'configobj
cryptography>=0.7
# load_pem_x509_certificate
    'parsedatetime
psutil>=2.1.0
# net_connections introduced in 2.1.0
    'PyOpenSSL
pyrfc3339
python2-pythondialog>=3.2.2rc1
# Debian squeeze support
cf. #280
    'pytz
setuptools
# pkg_resources
    'six
zope.component
zope.interface

