acme=={0}'.format(version)
# We technically need ConfigArgParse 0.10.0 for Python 2.6 support
but
    # saying so here causes a runtime error against our temporary fork of 0.9.3
    # in which we added 2.6 support (see #2243)
so we relax the requirement.
    'ConfigArgParse>=0.9.3
configobj
cryptography>=0.7
# load_pem_x509_certificate
    'parsedatetime>=1.3
# Calendar.parseDT
    'PyOpenSSL
pyrfc3339
pytz
# For pkg_resources. >=1.0 so pip resolves it to a version cryptography
    # will tolerate; see #2599:
    'setuptools>=1.0
six
zope.component
zope.interface

