absl-py>=0.1.6,<1
apache-beam[gcp]>=2.12,<3
google-api-python-client>=1.7.8,<2
ml-metadata>=0.13.2,<0.14
protobuf>=3.7,<4
six>=1.10,<2
tensorflow-data-validation>=0.13.1,<0.14
tensorflow-model-analysis>=0.13.2,<0.14
tensorflow-transform>=0.13,<0.14
